<v-horizontal-layout size-full>
    <v-label _id="title">Animal Farm</v-label>
    <v-css-layout _id="menuContent" width-auto/>

    <v-panel _id="equalPanel" caption="An Equal" size-full :expand/>
</v-horizontal-layout>

<v-button _id="logoutButton">Logout</v-button>
</v-horizontal-layout>